@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<h1 class="display-4 text-center">CRUDelishous</h1>

    @foreach (Dish dish in Model)
    {
        <div class="row border-bottom border-succes">
            <div class="col-2">
                <p>
                    <a href="/dish/@dish.DishId">@dish.Name</a>
                </p>
            </div>
            <div class="col-2">
                <p>
                    @dish.Chef
                </p>
            </div>
            <div class="col-2">
                <p>
                    @dish.Tastiness
                </p>
            </div>
            <div class="col-2">
                <p>
                    @dish.Calories
                </p>
            </div>
            <div class="col-2">
                <p>
                    @dish.Description
                </p>
            </div>
            <div class="col-2">
                <form asp-action="DestroyDish" asp-controller="Home" asp-route-DishId="@dish.DishId" method="POST"> 
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm"/> 
                </form>
            </div>
        </div>
    }

    <a href="/new" class="btn btn-primary mt-4" role="button">New Dish</a>
</div>
