@{
    ViewData["Title"] = "New Product";
}

@model Product

<div class="container">
    <form asp-action="CreateProduct" asp-controller="Product" method="POST">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <input asp-for="@Model.Description" class="form-control" />
            <span asp-validation-for="@Model.Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Price</label>
            <input asp-for="@Model.Price" class="form-control" />
            <span asp-validation-for="@Model.Price"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</div>